/* .card {
    
    min-height: 200px;
} */
.container{
    margin-top: 8%;
    /* margin-bottom: auto;
    margin-left: auto;
    margin-right: auto; */
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}
.inner:hover{
    transform: scale(1.5);
}